name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - examples/**
  pull_request:
    branches:
      - main
    paths-ignore:
      - examples/**
  schedule:
    - cron: 0 0 * * *

jobs:
  licensecheck:
    name: License Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Check license headers
        uses: apache/skywalking-eyes@v0.2.0
        with:
          config: .licenserc.yml

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18.0-rc.1"
          check-latest: true
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0
        with:
          version: latest

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18.0-rc.1"
          check-latest: true
      - name: Setup CycloneDX CLI
        run: |
          mkdir -p "$HOME/.local/bin"
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          wget -O "$HOME/.local/bin/cyclonedx" https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.22.0/cyclonedx-linux-x64
          echo "ae39404a9dc8b2e7be0a9559781ee9fe3492201d2629de139d702fd4535ffdd6 $HOME/.local/bin/cyclonedx" | sha256sum -c
          chmod +x "$HOME/.local/bin/cyclonedx"
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Test
        run: make test
